input::placeholder { font-style: italic; }
input::-webkit-input-placeholder { font-style: italic; } /* Chrome, Safari, Opera */
input:-ms-input-placeholder { font-style: italic; } /* Internet Explorer 10-11 */
input::-ms-input-placeholder { font-style: italic; } /* Microsoft Edge */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #222;
  color: #eee;
}

header {
  background: #222;
  padding: 15px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #00ff90;
}

.container {
  overflow-y: auto;
  height: 80vh;
  padding: 0px 15px 10px 15px;
  background: #1b1b1b;
}

.message {
  margin: 5px 0;
  padding: 10px 15px;
  border-radius: 12px;
  max-width: 90%;
  width: fit-content !important;
  white-space: normal;
  overflow-wrap: anywhere;
  font-size: 16px;
  display: block;
}

.timestamp {
  margin: 0px 0px 0px 4px;
  font-size: 0.6em;
  color: rgb(176,176,176);
  flex-shrink: 0;
  position: relative;
  top: 5px;
  left: 5px;
}

.left-name {
  padding: 0px 0px 0px 4px;
  margin: 9px 0px 0px 0px;
  background: none;
  font-weight: bold;
  font-size: 15px;
  max-width: 70%;
}

.left {
  margin: 2px 0px 9px 2px;
  background: #333;
  max-width: 70%;
}

.right {
  background: #005c4b;
  max-width: 70%;
  margin-left: auto;
}

.center-green {
  margin: 24px 15px;
  padding: 0px;
  width: 100% !important;
  text-align: center !important;
  background: none;
  color: #55dca1;
}

.center-red {
  margin: 24px 15px;
  padding: 0px;
  width: 100% !important;
  text-align: center !important;
  background: none;
  color: #ff7070;
}

form {
  width: 100%;
  display: flex;
  gap: 8px;
  padding: 7px 10px 10px 10px;
  background: #1b1b1b;
}

input {
  flex: 1;
  padding: 9px 15px;
  border-radius: 21px;
  border: none;
  outline: none;
  font-size: 16px;
}

button {
  padding: 9px 13px;
  background: #00ff90;
  border: none;
  border-radius: 21px;
  font-size: 16px;
  cursor: pointer;
  color: black;
}

button:hover {
  background: #00e57f;
}
